body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:dimgray;
    color: white;
}
#container{
    height: 1000px;
    width: 1000px;
    margin-left: 250px;
    border: solid black;
    border-top: limegreen solid;
    background-color: rgb(57, 57, 57)
}
#imges{
    height: 200px;
    width: 998px;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-around;
}
#veil{
    height: 100px;
}
#kickback{
    height: 100px;
}
#undertale{
    height: 100px;
}
#fairytail{
    height: 100px;
}
#cheese{
    height: 150px;
}
#veil img{
    height: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}
#kickback img{
    height: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}
#undertale img{
    height: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}
#fairytail img{
    height: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}
#cheese img{
    height: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}
#songnames a{
    text-decoration: none;
    color: white
}